@media only screen and (max-width: 992px) {

	/*ORANGE BLOCK*/
	.orangeblock .row{
		flex-direction: column; 
		align-items: center;
	}
	.orangeblock h1{
		text-align: center;
	}
	.orangeblock p{
		text-align: center;
	}

	/*NAV*/
	.nav-item{
		margin-left:auto;
	}

	/*ABOUT*/
	.thumb-mobile{
		display: block;
	}

	.desktop{
		display: none;
	}

	/*EQUIPMENT*/
	.unit{
		flex-direction: column;
	}

	.unit img{
		width: 80%;
		height: 80%;
		margin:auto;
	}
}

@media only screen and (max-width: 950px) {
	
	/*FOOTER*/
	footer .container{
		flex-direction: column;
		height: 280px;
	}

	.top{
		flex-direction: 
		column;margin-top: 30px;
	}

	.smm{
		flex-direction: row;
		margin-top: 15px;
	}

	.smm li{
		transform: rotate(0); 
		padding: 0 5px 0 5px;
	}

	.trademarks li{
		font-size: 12px;
	}

	.bottom ul{
		flex-direction: column;
		text-align: right;
		margin-top: 20px;
	}

	.trademarks li{
		display:none;
	}
	.trademarks.mobile li{
		display:block;
	}
}

/*TABLETS*/
@media only screen and (max-width: 768px) {
	
	/*HEADER*/
	header .img-fluid{
		margin: 80px 0 10px 30px;
		height: 90%;width: 90%;
		text-align: right;
	}

	.move{
		justify-content: 
		flex-end;
	}

	.post{
		text-align: right;
	}

	header .btn.book{
		top:0;
		margin: 20px 0;
	}

	/*NAVBAR*/
	.nav-item.btn{
		margin-bottom: 20px;
	}

	/*ABOUT*/
	.underlined p{
		margin-bottom:30px;
		text-align: right;
	}
}

@media only screen and (max-width: 640px) {
	header .row{
		margin-left: 15px;
	}

	#onas .btn{
		width: 100%; 
		margin: 15px;
	}
}

/*MOBILE*/
@media only screen and (max-width: 425px) {
	
	h1{
		font-size: 24px;
	}
	.headers{
		font-size: 36px;
	}
	
	header .container-sm{
		height: 750px;
	}

	/*NAVBAR*/
	.navbar-brand{padding-left: 15px}

	/*ABOUT*/
	.thumbnail{
		height: 56px;
		bottom: 8px;
	}

	.playbtn.mobile img{
		height: 54px;
	}

	.playbtn.mobile{
		bottom: 0;
	}

	#onas .btn{
		width: 100%; 
		margin: 15px;
	}

	
	/*FOOTER*/
	.container-lg{
		padding-bottom: 20px;
	}

	.top{
		justify-content: space-between;
		width: 50%;
		height: 200px;
	}

	.bw-logo{
		padding-top: 30px;
	}

	.menu{
		height: 100%;
	}

	.smm{
		margin: 0;
	}

	.bottom{
		height: 200px;
		margin-top: 30px;
		justify-content: space-between;
	}

	.bottom ul{
		flex-direction: 
		column;text-align: right;
	}

	
	/*POPUP*/
	.content{
		width:400px;
		height:600px;
	}
}

@media only screen and (max-width: 375px) {
	/*POPUP*/
	.content{
		width:340px;
		height:450px;
	}
	.popup p{
		margin: 0;
	}
}

@media only screen and (max-width: 320px) {
	.headers{
		font-size: 30px;
	}
}
