*{font-family:Jost,sans-serif}

html {
	scroll-behavior: smooth;
}

/*MISC*/
ul{
	text-decoration:none;
	list-style-type:none;
}

.swiper-pagination-bullet {
	background-color: black;
}

/*TEXT*/
h1{
	font-size:25px;
	text-align:left;
	font-weight:600;
}

h4{
	font-size: 20px;
	margin: 0;
}

h6{
	color:#e4a847;
}

p{
	text-align: justify;
	line-height: 1;
}

/*NAVBAR*/
.navbar{
	padding: 0;
}

.navbar-toggler:focus{
	outline: none;
}

.navbar-nav{
	display: flex; 
	align-items: baseline; 
}

.nav-item{
	margin-left: 45px;
}

.show .btn{
	margin-bottom: 15px;
}

.nav-item.active{
	border-top:solid  #e4a847 2px;
}

/*HEADER*/
header{
	background-image:url('../assets/bg.png');
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center bottom;
	background-color: #eff8fe;
}

header .container-sm{
	height: 100vh;
}

header .underlined:before{
	top: 0;
	right: 50%;
}

header .btn.book{
	position: relative;
	top:45px;
}

.underlined p{
	max-width: 552px;
}

	/*intro*/
.socialmedia li{
	transform: rotate(-90deg);
}

.socialmedia a{
	color: black;
}
.socialmedia a:hover{
	color:#e4a847; 
	text-decoration: none;
}

.socialmedia{
	font-size: 16px;
	height: 100%; width: 16px;
	margin: 0; padding: 0;
	position: absolute;
	left: -16px;
}

.toptext{
	margin: 5vh 0;
}

	/*news*/
.back:before{
	display: block;
	content: "";
	background: rgba(216, 224, 230, 0.8);	
	position: absolute;
	right:-15px;
	width: 2000px;
	height: 100%;}

.post{
	color: #5c6f7d;
	align-self: center;
	font-size: 14px;
}

/*PRICE*/
#uslugi{
	min-height: 100vh;
}

	/*headers*/
.headers{
	font-size:48px;
	margin:85px 0;
	font-weight:900;
}

.underlined {
  position: relative;
}

.underlined:before {
  display: block;
  content: "";
  background: #e4a847;

  width: 1000px;
  height: 2px;
  
  position: absolute;
  bottom: 0;
  right: 0;
}

.price-card {
  background-position: center;
  background-size: cover;
  width: 264px;
  height: 425px;
  margin-bottom: 70px;
}

/*ORANGE BLOCK*/
.orangeblock{
	height:auto;
	background-color:#e4a847;
	color:#fff;
}

.orangeblock .row{
	min-height: 120px;
	padding: 15px 0;
}

/*ABOUT*/

.thumb-mobile{
	position: relative;
	margin: auto 0;
	display: none;
}

.playbtn.mobile{
	width: auto;
	position: absolute;
	z-index: 3;
	left:-5px;bottom: 3px;
}

.thumbnail{
	height: 74px;
	position: relative;
	bottom: 14px;
	right:0;
}

.thumb .playbtn{
	position: absolute;
	top:0;
	right:0;
}

/*WHY US*/
.whyus .headers {
  padding-top: 70px;
}

.whyus h1 {
  color: white;
  margin: 20px 0;
}

.whyus .col {
	min-width: 160px;
	height: 260px;
	margin: 30px 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}

.whyus img {
  height: 80px;
  width: 80px;
}

.whyus p {
  text-align: center;
  color:gray;
}

/*PORTFOLIO*/
.faded:after {
  content:'';
  position:absolute;
  right:0; top:0;
  width:10%; height:100%;
  display:inline-block;
  background: linear-gradient(to left, rgba(255,255,255,1) 1%,rgba(255,255,255,0) 100%);
}

#overflow::-webkit-scrollbar{display:none}
#overflow{
	margin:1px;
	overflow-y:hidden;
	scroll-behavior:smooth;
}

.portfoliocard{
	position: relative; 
	margin: 16px;
}

#overflow button{
	padding: 10px;
	position: absolute;
	top:0; right: 0;
}

/*EQUIPMENT*/
.unit {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.unit img{
	width: 100%; 
	height: 100%; 
	padding: 1px;
}

.unit .flex-column {
	padding: 0 10%;
}

/*REVIEWS*/
.review {
	padding: 4vh 4vw;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.review img{
	border-radius: 100px; 
	height: 200px; 
	width: 200px;
	padding: 20px;
}

.review h5, .review h6, .review p{
	text-align: center;
}

.swiper-button-prev, .swiper-button-next {
	color: #e4a847;
}

/*CONTACTS*/
.contacts{
	color: white;
}

.contacts p{
	margin: 0;
	color: gray;
}

.grid {
	display:grid;
	grid-template-columns:50px auto;
	grid-template-rows:repeat(3, 70px);
}

.grid h1{
	font-size: 18px;
	margin: auto;
}

.cont{
	margin: auto 0; 
	grid-column-start: 2;
}
.number{
	grid-row-start: 1;
}
.email{
	grid-row-start: 2;
}
.adress{
	grid-row-start: 3;
}

.map{
	margin: 22px 0 15px 0;
}

iframe{
	width: 100%;
	height: 450px;
}

/*FOOTER*/
footer{
	background-color: black;
}

footer .container-lg{
	color:gray;
	min-height: 200px;
	display: flex;
	flex-direction: row;
}

footer li a{
	color:gray;
}

footer li a:hover{
	color:#fff;
	text-decoration:none;
}

.top{
	display: flex;
	flex-direction: row;
}

.smm{
	padding: 0;
	margin: 0 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.smm li{
	transform: rotate(-90deg);
}

.bw-logo{
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-around;
}

.bottom ul {
	margin:0;padding:0;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.trademarks.mobile{
	color: gray;
	margin:0;
	border-top: 
	2px solid gray;
	text-align: center;
	padding-left: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.trademarks.mobile li{
	display: none;
}