/*BUTTONS*/
#next{
	transform: rotate(90deg);
	height: 40px;
	margin: 30px;
}

.btn{
	-webkit-border-radius:60;
	-moz-border-radius:60;
	border-radius:60px;
	color:#fff;
	background:#e4a847;
	text-decoration:none;
	padding:15px 0px;
	width: 255px;
}

.btn:hover{
	background:#f59700;
	text-decoration:none;
	color:#fff;
}

.btn.book{
	background:transparent;
	color:#000;
	border-color:#e4a847;
	border-style:solid;
}

.btn.book:hover{
	background-color:#e4a847;
}

.btn.calc{
	border-style:solid;
	border-color:#fff;
	background:transparent}

.playbtn{
	padding: 0;
	background: none;
	border: none;
	transition: 0.2s;
}

.playbtn img{
	border-radius: 40px;
	height:74px;
}

.scroll{
	border:none;
	background:none;
	transition: 0.2s;
}

.scroll:active{
	border:none;
	background:0;
	outline:none;
	transition:0.2s;
	transform:scale(1);
}

.scroll:focus{outline: none}
.scroll:hover{
	transform: scale(1.1);
	transition: 0.2s;
}


.playbtn:focus{outline: none}
.playbtn:hover{
	transform: scale(1.1);
	transition: 0.2s;
}