/*BUOTTONS*/
.btn{
	-webkit-border-radius:60;
	-moz-border-radius:60;
	border-radius:60px;
	font-family:Jost,sans-serif;
	color:#fff;
	font-size:14px;
	background:#e4a847;
	text-decoration:none;
	padding:15px 40px 15px 40px;
	margin-top:15px;
	margin-bottom:15px}

.btn:hover{
	background:#f59700;
	text-decoration:none;
	color:#fff}

#ob{
	margin:0;
	padding:10px 70px;
	background-color:transparent;
	border-color:#e4a847;
	border-width:2px;
	color:#000}

#ob:hover{
	background:#f59700;
	color:#fff}

.btn-calc{
	-webkit-border-radius:60;
	-moz-border-radius:60;
	border-radius:60px;
	border-style:solid;
	border-color:#fff;
	background:transparent;
	height: 50px;
	width: 300px;
	color:#fff;
	font-size:14px;
	text-decoration:none;
	padding: 0}

.btn-calc:hover{
	background:#f59700;
	text-decoration:none;
	color:#fff}

.btn-calc:focus{outline:0}



.btn.about{padding:10px 70px 10px 70px}

.btn.about.book{
	padding:10px 60px 10px 60px;
	background:#fff;
	color:#000;
	border-color:#e4a847;
	border-style:solid;
	margin-left:20px}

.btn.about.book:hover{
	background:#f59700;
	color:#fff}

