@media only screen and (max-width: 640px) {
	.callback{display: none}
}

@media only screen and (max-width: 991px) {
	.orangeblock .row{flex-direction: column; align-items: center;}
	.orangeblock h1{padding-top: 40px; text-align: center;}
	.orangeblock p{text-align: center;}
}

/*TABLETS*/
@media only screen and (max-width: 768px) {
	
	.about-video{display: block;}
	.hide{display: none}
  
  /*REVIEWS*/
  	.review img {
		height: 80px;
		width: 80px;
		grid-column: 1;
		grid-row: 1;
		margin: auto;}
	
	.review h5 {
		grid-row: 2;
		text-align: center;}

	.swiper-slide.s1 {
	    display: grid;
	    grid-template-columns: auto;
	    grid-template-rows: 100px auto 30px 30px;}
	
	.review p {
		grid-column: 1;
		text-align: center;
		align-self: center;
		margin: 0;
		grid-row: 4;}

	.review h6 {
		grid-column: 1;
		text-align: center;
		align-self: flex-end;
		margin: 0;
		grid-row: 3;}

	.review h1 {
		margin-bottom: 40px;
		margin-top: 40px;}

	div.swiper-button-prev,
	div.swiper-button-next {
		display: none;}

	/*FOOTER*/
	footer .container{flex-direction: column;height: 280px}
	.top{flex-direction: column;margin-top: 30px}
	.smm{flex-direction: row;margin-top: 15px}
	.smm li{transform: rotate(0)}
	.trademarks li{font-size: 12px}

	/*EQUIPMENT*/
	.s3{flex-direction: column;}
	.s3 img{width: 80%;margin:auto}

}

/*MOBILE*/
@media only screen and (max-width: 425px) {
	
	h1{font-size: 24px}
	.headers{font-size: 36px}

	/*ABOUT*/
	.thumbnail{
		height: 68px;
		margin-top: 50px}

	.playbtn.mobile{
		right: 130px}

	.btn{width: 100%}

	/*FOOTER*/
	footer .container{
		flex-direction: row;
		justify-content: space-between}
	.top{
		justify-content: space-between;
		width: 50%;height: 200px}
	.smm{margin: 0}
	.bottom{
		height: 200px;margin-top: 30px;
		justify-content: space-between}
	.bottom ul{flex-direction: column;text-align: right}
	.menu{height: 100%}
	.trademarks li{display:none}
	.trademarks.mobile li{display:block}


}

@media only screen and (max-width: 320px) {
	.headers{font-size: 30px}
}