html {
	margin: 0;
}


.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #e4a847;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn:hover {
  background: #f59700;
  text-decoration: none;
}

.nav-item {
	margin-left: 30px;
}



nav.navbar.navbar-expand-md.navbar-light {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: baseline;
}

a.nav-link {
	padding: 30px 0px 30px 0px;
	border-top-width: 0;
}

a.nav-link:hover{
	padding-top: 28px;
	border-top: solid orange 2px;
}

a.active {
	border-top: solid orange 2px;
	padding-top: 28px;
}

