*{font-family:Jost,sans-serif}

/*MISC*/
ul{
	text-decoration:none;
	list-style-type:none}

div.space{height:40px}

/*TEXT*/
h1{
	font-size:25px;
	text-align:left;
	margin:auto;
	font-weight:600;}

h2{}

.headers{
	font-size:48px;
	margin:70px 0;
	font-weight:900}


p{text-align: justify;line-height: 1}

/*UNDERLINED HEADER*/

.underlined {
  position: relative;
}

.underlined:before {
  display: block;
  content: "";
  background: #e4a847;

  width: 1000px;
  height: 2px;
  
  position: absolute;
  bottom: 0;
  right: 0;
}


/*BUTTONS*/
.btn{
	-webkit-border-radius:60;
	-moz-border-radius:60;
	border-radius:60px;
	color:#fff;
	background:#e4a847;
	text-decoration:none;
	padding:15px 0px;
	width: 255px;}

.btn.calc{
	border-style:solid;
	border-color:#fff;
	background:transparent}

.btn.book{
	background:transparent;
	color:#000;
	border-color:#e4a847;
	border-style:solid}

.btn:hover{
	background:#f59700;
	text-decoration:none;
	color:#fff}

.btn.book:hover{background-color:#e4a847}

/*POPUP*/
.overlay{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,.7);
	z-index:1;
	display:none}

.content{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%) scale(0);
	background:#fff;
	width:450px;
	height:650px;
	z-index:2;
	border-radius:20px}

.popup.active .overlay{display:block}

.popup.active .content{
	transition:all .3s ease-in-out;
	transform:translate(-50%,-50%) scale(1)}

.popup .container{
	height: 100%;
	display: grid;
	grid-template-rows: repeat(auto, 8);
	justify-items: stretch;
	align-items: center}

.close-btn{
	width:30px;
	height:30px;
	align-self: center;
	justify-self: end;}

.popup .logo{
	align-self: center;
	margin:auto}

.line{
	display:block;
	width:100%;
	height:2px;
	background-color:#e4a847;
	margin: auto;}

.popupholder{
	height:55px;
	border-radius:60px;
	border-color:#e4a847;
	border-style:solid;
	text-align: center}

.popupholder:active,:focus,:hover{
	outline:0;
	outline-offset:0}

.popup .btn{
	width: auto;
	margin:0;}

.popup p{margin:0px 100px}

/*BANNER*/
.banner{
	height: 100vh;
	background-image:url('../assets/bg.png');
	background-repeat:no-repeat;
	background-size:inherit;
	background-position:center;
	text-align:justify;}

.callback{
	display: grid;
	justify-items: end;}

.callback h1{
	margin-right:0px;
	font-size: 20px}

.callback a{
	font-size: 18px;
	color: gray;
	margin-right:0px}

.callback a:hover{
	color: #111;
	text-decoration-color: #e4a847}

.banner .underlined:before{top: 0;right: 50%}

.banner .img-fluid{margin: 50px 0}

#about{max-width: 552px}

.news{
	overflow-x: hidden}

.back {position: relative}

.news .back:after{
	display: block;
	content: "";
	background: rgba(211, 211, 211, 0.2);	
	position: absolute;
	right:15px;
	z-index: 0;
	width: 2000px;
	height: 100%;

	}

.news .container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center}

.co{
	min-width: 296px;
	margin:auto auto;}

.co h1{font-size: 18px; 
	margin-bottom: 16px}
.co p{margin-right: 30px}

#next{
	transform: rotate(90deg)}

/*NAVBAR*/
nav.navbar.navbar-expand-lg.navbar-light{
	padding:0;
	margin:0;
	display:flex;
	align-items:baseline}

.nav-item{margin-left:30px}

.nav-link{
	padding:30px 0;	
	border-top-width:0}

.nav-link:hover{
	padding-top:28px;
	border-top:solid orange 2px}

.nav-link.active{
	border-top:solid orange 2px;
	padding-top:28px}

/*SERVICES*/
.services{}

/*ORANGE BLOCK*/
.orangeblock{
	height:auto;
	background-color:#e4a847;
	color:#fff}

.orangeblock .col-auto{
	padding: 30px 15px}

/*ABOUT*/
.about p{text-align: justify}

:active,:hover,button.playbutton:focus{outline:0}

.playbutton{
	border:none;
	position:absolute;
	top:358px;left:280px;
	border-radius:150px;
	background-color:rgba(255,0,0,0)}

/*WHY US?*/
.whyus{}

/*PORTFOLIO*/
.flex{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	overflow-y:hidden;
	scroll-behavior:smooth}

.flex::-webkit-scrollbar{display:none}

.flex img{margin:15px 30px 15px 0}

.scroll{
	border:none;
	background:0 0}

.scroll:focus{
	border:none;
	background:0 0;
	outline:0;
	transition:.3s;
	transform:scale(.8)}

/*EQUIPMENT*/
.equipment{background-color:#f5f5f5}

.equipment .col-8{
	padding-left: 100px;
	padding-top: 40px}

.camera{
	text-align:left;
	margin-bottom:5px;
	margin-left:50px;
	margin-top:50px}

h6{color:#e4a847}

/*CLIENTS*/
.contacts{
	color: white;
}

/*CONTACTS*/

.contacts .container {
	height:543px;
	display:grid;
	grid-template-columns:50px auto;
	grid-template-rows: 150px repeat(4, 70px)
}

.contacts p{
	margin: 0;
	color: gray}

.info{
	grid-row-start:2;
	grid-column:1;
	grid-column-end:3;
	align-self:center}

.t{
	grid-row: 3 4;
	grid-column-start: 1;
	font-size: 18px}
.e{
	grid-row: 4 5;
	grid-column-start: 1;
	font-size: 18px}
.a{
	grid-row: 5 6;
	grid-column-start: 1;
	font-size: 18px}

.number{
	grid-column-start: 2;
	grid-row-start: 3;
	margin: auto 0}

.email{
	grid-column-start: 2;
	grid-row-start: 4;
	margin: auto 0}

.adress{
	grid-column-start: 2;
	grid-row-start: 5;
	margin: auto 0}

/*FOOTER*/
.footer{background-color: #100e17}

footer{
	color:gray;
	display:grid;
	grid-template-rows:100px 100px;
	grid-template-columns:200px auto;
	align-content:center}

a.logo{
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:1;
	grid-row-end:3;
	margin:auto 0}

.menu{
	grid-column:2;
	grid-row:1;
	margin:0;
	padding:0;
	display:inline-flex;
	justify-content:space-between;
	align-items:center}

.trademarks{
	font-size:14px;
	grid-column:2;
	grid-row:2;
	margin:0;
	padding:0;
	display:inline-flex;
	justify-content:space-between;
	align-items:center}

.sm{
	width:100px;
	padding:0;
	display:inline-flex;
	justify-content:space-between;
	align-items:center}

footer li a{color:gray}

footer li a:hover{
	color:#fff;
	text-decoration:none}